useDynLib(Rlabkey)
export(labkey.selectRows, labkey.executeSql, makeFilter, labkey.insertRows, labkey.importRows, labkey.updateRows, labkey.deleteRows,
	labkey.getSchemas, labkey.getQueries, labkey.getQueryViews, labkey.getQueryDetails, labkey.getDefaultViewDetails, labkey.getFolders,
	labkey.getLookupDetails, labkey.makeRemotePath, getSession, getRows, getLookups, lsSchemas, lsFolders, lsProjects, labkey.saveBatch)
export("getSchema")
export("getFolderPath")
export("saveResults")
export("RlabkeyUsersGuide")


S3method(print, LabkeySession)
S3method(print, LabkeySchemaList)
S3method(print, LabkeySchema)
S3method(print, LabkeyQuery)
#S3method(print, LabkeyField)

