*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# CRAN R check artifacts
Rlabkey.Rcheck/

# Build artifacts - excluding everything that gets deleted by ant clean
build/
src-i386/
src-x64/
Rlabkey/src/*.o
Rlabkey/src/*.dll
Rlabkey/src/*.rds
.Rproj.user
